<?xml version="1.0"?>
<config>
    <modules>
        <Motive_Easymarketing>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Motive_Easymarketing>
    </modules>
    <frontend>
        <routers>
            <easymarketing>
                <use>standard</use>
                <args>
                    <module>Motive_Easymarketing</module>
                    <frontName>easymarketing</frontName>
                </args>
            </easymarketing>
        </routers>
        <layout>
            <updates>
                <easymarketing>
                    <file>easymarketing.xml</file>
                </easymarketing>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <easymarketing>
                <class>Motive_Easymarketing_Block</class>
            </easymarketing>
        </blocks>
        <models>
            <easymarketing>
                <class>Motive_Easymarketing_Model</class>
            </easymarketing>
        </models>
        <helpers>
            <easymarketing>
                <class>Motive_Easymarketing_Helper</class>
            </easymarketing>
        </helpers>
        <resources>
            <easymarketing_setup>
                <setup>
                    <module>Motive_Easymarketing</module>
                    <class>Motive_Easymarketing_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easymarketing_setup>
        </resources>
        <events>
            <admin_system_config_changed_section_easymarketingsection>
                <observers>
                    <easymarketing>
                        <type>singleton</type>
                        <class>easymarketing/observer</class>
                        <method>adminSystemConfigChangedSectionEasymarketingsection</method>
                    </easymarketing>
                </observers>
            </admin_system_config_changed_section_easymarketingsection>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easymarketingsection>
                                            <title>Easymarketing - All</title>
                                        </easymarketingsection>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <config>
        <default>
            <easymarketingsection>
                <easmarketinggeneral>
                    <enable>0</enable>
                    <shipping_countries>DE</shipping_countries>
                </easmarketinggeneral>
            </easymarketingsection>
        </default>
    </config>
</config>